<h1>Log In to 99cats</h1>

<form action="<%=sessions_url%>" method="POST">
  <label for="username">username</label>
  <input type="text" name="username" id="username">
  <label for="password">password</label>
  <input type="password" name="password" id="password">

  <button>Login</button>
</form>

